{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Jobs</h4>
                <h2>Choose the perfect job!</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-md-4 col-xs-12">
                <form action="#">
                 <h4 style="margin-bottom: 15px">Type</h4>

        
                 <div>
                  <label>
                    {% for type_count in type_counts %}
                       <input type="checkbox">

                       <span>{{type_count.type}} ({{type_count.type__count}})</span>
                       <br>
                       {% endfor %}
                  </label>
                 </div>
            
                

                 <br>


                 <h4 style="margin-bottom: 15px">Education levels</h4>

                
                 <div>
                      <label>
                        {% for level_count in level_counts %}
                           <input type="checkbox">

                           <span>{{level_count.level}} ({{level_count.level__count}})</span>
                           <br>
                           {% endfor %}
                      </label>
                 </div>
                 <br>


                 <h4 style="margin-bottom: 15px">Years of experience</h4>

                 <div>
                      <label>
                        {% for expereince_count in expereince_counts %}
                           <input type="checkbox">
                            <span>{{expereince_count.experience}} ({{expereince_count.experience__count}})</span>
                            <br>
                            {% endfor %}
                      </label>
                 </div>
                </form>
            </div>

            <div class="col-md-8 col-xs-12">
              <div class="row">
                {% for job in alljob %}
                <div class="col-sm-6">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{job.image.url}}" alt="">
                    </div>
                    <div class="down-content">
                      <span>${{job.salary}}</span>
                      <a href="{{job.get_absolute_url }}"><h4>{{job.jobtitle}}</h4></a>
                      <p>{{job.overview}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-lg-12">
                            <ul class="post-tags">
                              <li><i class="fa fa-bullseye"></i></li>
                              <li><a href="{{job.get_absolute_url }}">View Job</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>

 {% endblock %}